body {
  padding-top: 40px;
  padding-bottom: 40px;
  background: -webkit-linear-gradient(left, #0f182b 0%, #2a3b53 33%, #2a3b53 66%, #0f182b 100%);
  background: -moz-linear-gradient(left, #0f182b 0%, #2a3b53 33%, #2a3b53 66%, #0f182b 100%);
  background: -o-linear-gradient(left, #0f182b 0%, #2a3b53 33%, #2a3b53 66%, #0f182b 100%);
  background: linear-gradient(left, #5e2f0d 0%, #2a3b53 33%, #2a3b53 66%, #5e2f0d 100%);
  background: -webkit-gradient (left, #0f182b 0%, #2a3b53 33%, #2a3b53 66%, #0f182b 100%);
  background: -ms-linear-gradient (left, #0f182b 0%, #2a3b53 33%, #2a3b53 66%, #0f182b 100%);
  background-image: url("../img/background2.jpg");
  background-attachment:fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;    
  -o-background-size: cover;      
  background-size: cover; 
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn {
	background-image:url(../img/buttonrect.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	width: 170px;
	height: 50px;
}
/*.btn::before {
	content:"";
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	border-top: 1px solid #3E4970;
	border-bottom: 1px solid #a7ddff;
	border-radius: 8px;
	z-index:3;
	border-right: 1px solid #a7ddff;
	border-left: 1px solid #3E4970;
}
.btn::after {
	content:"";
	position:absolute;
	top:1px;
	bottom:-1px;
	border-radius:9px;
	z-index:1;
	right: -1px;
	left:1px;
	-moz-box-shadow: 1px 1px 5px rgba (171,255,255,0.8);
	-webkit-box-shadow: 1px 1px 5px rgba (171,255,255,0.8);
	box-shadow: 1px 1px 5px rgba (171,255,255,0.8);*/
}
.btntext {
	color: #CEF0D4; 
	font-family: 'Rouge Script', cursive; 
	font-size: 130px; 
	font-weight: normal; 
	line-height: 48px; 
	margin: 0 0 50px; 
	text-align: center; 
	text-shadow: 1px 1px 2px #082b34;
}
.h2shadow{
	position:relative;
	margin: 0;
	width:3.7em;
	color:#d7ceb2;
	font: 30px 'BazarMedium';
	font-weight:lighter;
	text-transform:uppercase;
	float: left;
	letter-spacing: 10px;
	text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72
}
/*.h2shadow::before {
	content: "bitte";
	text-transform:uppercase;
	position:absolute;
	color: #fff;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	left: 0;
	right: 0;
}
.h2shadow::after {
	content: "einloggen";
	text-transform:uppercase;
	position:absolute;
	color: #fff;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	left:0;
	right:0;
}